.c-todo-form {
    width: 100%;
    margin-bottom: 1rem;

    &__input {
        outline: none;
        background: none;
        border: 1px solid #514e57;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 300px;
        color: #fff; 
    }

    &__input::placeholder {
        color: #ffffff4d;
    }

    &__button {
        background: #272628;
        color: #fff;
        border: none;
        padding: 0.55rem;
        cursor: pointer;
    }
}