.c-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272628;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out forwards;
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__completed {
    color: #9a9a9c;
    text-decoration: line-through;
    cursor: pointer;
  }

  &__incompleted {
    color: #fff;
    cursor: pointer;
  }
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}
