.c-todo-wrapper {
    background: #141414;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;

    h1 {
      font-family: 'Courier New', Courier, monospace;
      color: #fff;
      margin-bottom: 0.5rem;
      font-size: 1.75rem;
    }
}