@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Cursive Font', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #272628;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-todo-home {
  text-align: center;
}

